<h1>Services</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% if @services.present? %>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= link_to 'Show', service_path(service) %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= button_to 'Delete', service_path(service), method: :delete, data:{ turbo_confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
