<h1>Select Customer to Redeem Combo</h1>

<%= form_with url: select_customer_redeems_path, method: :post, local: true do |form| %>
  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= form.radio_button :customer_id, customer.id, checked: (customer.id == params[:customer_id].to_i) %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone_number %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= form.submit "Next: Check Combos", class: "btn btn-success" %>
<% end %>
